.sidebar{
     min-height:100vh;
     display:inline-flex;
     flex-direction:column;
     justify-content:space-between;
     background-color: #f0f4f9;
     padding:25px 15px;
}
.sidebar img{
    width:20px
}
.sidebar .Menu{
    
    display:block;
    margin-left:10px;
    cursor:pointer;
}

.sidebar .New-Chat{
    margin-top:50px;
    display: inline-flex;
    align-items: center;
    gap:10px;
    padding:10px 15px;
    background-color:#e6eaf1;
    border-radius:50px;
    font-size: 14px;
    color:grey;
    cursor: pointer;

}
.sidebar .Recent{
    display:flex;
   flex-direction:column;
   animation:fadeIn 1.5s;
}
.sidebar .Recent-Title{
    margin-top:30px;
    margin-bottom:20px;
}
.sidebar .Recent-Entery{
    display:flex;
    align-items:start;
    gap:10px;
    padding:10px;
    padding-right:40px;
    border-redius:50px;
    color:#28288;
    cursor:pointer;
}
.sidebar .Recent-Entery:hover{
    background-color:#e2e6eb;
}

 .sidebar .Bottom{
    display:flex;
    flex-direction:column;
}
.sidebar .Bottom-item{
     padding-right:10px;
     cursor:pointer;
}
@media (max-width:600px){
   .sidebar{
    display:none;
   }
}